/* signup styling */

.signup-main-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 120vh;
    background-color: white;
}

.signup-card {
    background-color: white;
    border-radius: 10px;
    padding: 2rem;
    box-shadow: 0 0 7px rgb(97, 96, 96);
    position: relative;
}


.input-box {
    height: 2rem;
    width: 20rem;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid green;
    background-color: white;
    margin-bottom: 0.3rem;
    font-family: 500;

}

.input-text {
    background-color: white;
    margin-top: 1rem;
    margin-bottom: 0.3rem;
    font-weight: 500;
    color: rgb(64, 64, 67);

}


#eye-open {
    position: absolute;
    right: 2.1rem;
    top: 17.6rem;
    background-color: white;

}

@media only screen and (max-width :769px) {

    .input-box {
        height: 2rem;
        width: 15.5rem;
    }

    .signup-main-card {
        height: 100vh;
    }

}

#redLine {
    border-bottom: 2px solid red;
}