
#cart-main-cont{
    margin-top: 4.6rem;
    margin-bottom: 0.5rem;
}

.cart-img {
    width: 13rem;

}

.cart-item-img {
    width: 10rem;
    height: 10rem;
}

.cart-item-card {
    display: flex;
    column-gap: 2rem;
    align-items: center;
}

.cat-txt {

    color: rgb(133, 128, 128);
}



@media only screen and (max-width : 762px) {
    #cart-main-cont{
        margin-top: 5.5rem;
    }

    .cart-img {
        width: 10rem;

    }

    .cart-item-img {
        width: 7rem;
        height: 7rem;
    }

    .cat-txt {
        font-size: 13px;

    }

    .cat-title-text {
        font-size: 15px;
        color: rgb(83, 82, 82);
    }


    .cart-item-card {
        column-gap: 0.5rem;
    }

    .increment-card {
        width: 7rem;
        display: flex;
        justify-content: center;
    }

    .remove-bt {
        border: none;
        background-color: rgb(211, 34, 3);
        color: white;
        width: 80px;
        border-radius: 5px;
        height: 30px;
        font-size: 13px;
    }

    .buy-now-bt {
        border: none;
        background-color: rgb(14, 14, 14);
        color: white;
        width: 80px;
        border-radius: 5px;
        height: 30px;
        font-size: 13px;
    }

    .cart-bt-card {
        display: flex;
        column-gap: 1.6rem;
    }
    #indian-rupee{
        margin-bottom: 0.4rem;
    }

    #totalAmount-rupee{
        font-size: 13px;
        margin-top: 0.3rem;
        margin-right: 0.3rem;
    }
    #totalAmount-rupee1{
        font-size: 17px;
        margin-top: 0.3rem;
        margin-right: 0.3rem;
    }
    
}

@media only screen and (min-width: 500px) and (max-width: 760px) {
     #cart-main-cont{
        margin-top: 4.3rem;
    }
}



@media only screen and (min-width : 762px) {
    .cart-bt-card {
        display: flex;
        column-gap: 2rem;
    }

    .remove-bt {
        border: none;
        background-color: rgb(211, 34, 3);
        color: white;
        width: 100px;
        border-radius: 5px;
        height: 30px;
        font-size: 15px;
    }

    .buy-now-bt {
        border: none;
        background-color: rgb(14, 14, 14);
        color: white;
        width: 100px;
        border-radius: 5px;
        height: 30px;
        font-size: 15px;
    }

    .increment-card {
        width: 10rem;
        display: flex;
        justify-content: center;
    }

    .cart-bt-card {
        display: flex;
        column-gap: 3rem;
    }
    #indian-rupee{
        margin-bottom: 0.3rem;
    }
    #totalAmount-rupee{
        font-size: 13px;
        margin-top: 0.3rem;
        margin-right: 0.3rem;
    }
    #totalAmount-rupee1{
        font-size: 16px;
        margin-top: 0.3rem;
        margin-right: 0.3rem;
    }
}

.modal-card {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(164, 161, 161, 0.5);
     
    
     

}


.incre-bt {
    background-color: white;
    border: 1px solid black;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: start;
    font-weight: bold;
    

}

.qty-count-card {
    border: 1px solid black;
    width: 40px;
    height: 30px;
    background-color: white;
    text-align: center;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}

#disable-bt{
pointer-events: none;
opacity: 0.3;
}


.cart-missing-img{
    width: 19rem;
    height: 15rem;
    background-color: white;
}