/* order summary styling  */

.quanty-text {
    position: absolute;
    top: -10px;
    left: 66px;
}

@media only screen and (max-width:760px) {
    .quanty-text {
        position: absolute;
        top: -15px;
        left: 42px;
    }
}

.rbi-text{
    color: rgb(117, 118, 118);
}